<h3>Practical information</h3>
<p>Date: <strong>{{ page.event-date | date: "%-d %B %Y" }}</strong> from <strong>{{ page.start-time }} to {{ page.end-time }}</strong>.</p>

<h3>Location</h3>
<p>{{page.location}}</p>

<h3>Participation fee</h3>

<p>Sirris and Agoria members: € 50 (ex VAT)<br/>
Non-members:  € 75 (ex VAT) </p>
<h3>Registration</h3>

<p>You can register <a href="#">here</a>. 

<p>These workshops are organised together with the Nebucom project, supported by IWT.</p>

</p>Contact Sirris: Philippe Thiran, tel. +32 491 34 53 94 <br/>
Contact Agoria: Bart Meert, tel. +32 2 706 79 95   </p>