<p class="pull-left">
  <a href="{{ root_url }}/">Nebucom</a> | Powered by <a  target="_blank" href="http://www.sirris.be">Sirris</a>, <a target="_blank" href="http://www.agoria.be">Agoria</a>, <a  target="_blank" href="http://www.iminds.be">IMinds</a> and <a target="_blank" href="http://www.lsec.be">LSec</a>.
  - Copyright &copy; {{ site.time | date: "%Y" }}
</p>
<p class="pull-right">
  <span>Nebucom is supported by <a href="http://www.iwt.be/" target="_blank"><img title="IWT, Het agentschap voor Innovatie door Wetenschap en Technologie" alt="IWT, Het agentschap voor Innovatie door Wetenschap en Technologie" src="images/partners/iwt.jpg"></a></span>
</p>
